.vscode/
LocalPreferences.toml
test/plots/
test/ir/
test/ir.tar.gz
ir/
docs/Manifest.toml
docs/build
test/Manifest.toml
refs/

# Downloaded reference documentation (not committed due to copyright)
doc/*.pdf
doc/*.txt
